/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* css reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset end */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrap {
  position: relative;
  width: 1147px;
  height: 883px;
  background: #e7eeea;
}

.content {
  height: 805px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content img {
  height: 150px;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 20px;
  font-weight: bold;
  color: #37532d;
}

.footer {
  position: absolute;
  width: 1147px;
  height: 78px;
  background: #fff;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  height: 36px;
  margin: 20px 0px 30px 50px;
}

.btn {
  display: flex;
}

.btn li {
  margin-right: 35px;
}

.btn li a {
  text-decoration: none;
  color: black;
}

.btn li a:hover {
  background: #37532d;
  color: #fff;
}
